@import url("./responsive/nav.css");
@import url("./responsive/home.css");
@import url("./about.css");
@import url("./workflow.css");
/*
 * ─── HOME ───────────────────────────────────────────────────────────────────────
 */

.home {
  /* outline: 1px solid red; */
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin-top: 270px;
  color: white;
  padding-bottom: 200px;
}

/*
 * ─── H2 CONT ────────────────────────────────────────────────────────────────────
 */

.h2_cont {
  flex: 1;
  /* outline: 1px solid orange; */
  padding-left: 140px;
}

.h3_cont {
  flex: 8;
  justify-self: flex-end;
  padding-top: 70px;
  /* outline: 1px solid green; */
}

/*
 * ─── H2 CONT H3 CONT STYLE ──────────────────────────────────────────────────────
 */

.h2_cont h2 {
  font-size: 16px;
  border-top: 2px solid #cc050c;
  padding-top: 9px;
}

.h3_cont h3 {
  font-size: 50px;
  line-height: 45px;
}

.h3_cont h3 span {
  color: #cc050c;
  font-size: 60px;
}

.h3_cont p {
  padding-top: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  font-family: sans-serif;
  text-align: justify;
  max-width: 570px;
  width: 100%;
}

/*
  * ─── HOME LOGIN AND REGISTER BTN ────────────────────────────────────────────────
  */

.login_and_register_btn_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* outline: 1px solid red; */
  padding-top: 60px;
  padding-right: 10px;
  max-width: 570px;
  width: 100%;
  box-sizing: border-box;
}

.login_and_register_btn_cont a:first-child {
  margin-right: 10px;
}

.h3_cont a {
  display: block;
  border: none;
  border-radius: 2px;
  background-color: #cc050c;
  width: 60px;
  padding: 10px;
  color: white;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  transition-duration: 0.7s;
}

.h3_cont a:hover {
  background-color: #960a0e;
}
