@import url("./responsive/workflow.css");
/*
  * ─── WORKFLOW ───────────────────────────────────────────────────────────────────
  */

.workflow {
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  padding-left: 20px;
  padding-left: 40px;
  padding-bottom: 200px;
}

/*
  * ─── WORKFLOW H1 CONT ───────────────────────────────────────────────────────────
  */

.workflow_h1_cont {
  /* margin: auto; */
  align-self: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
}

.workflow_h1_cont h1 {
  color: #ffffff;
  font-size: 40px;
}

.workflow_h1_cont h2 {
  text-align: center;
}

.workflow_h1_cont h2 a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  text-decoration-line: none;
  border-bottom: 1.5px solid #cc050c;
  padding-bottom: 5px;
}

.workflow_h1_cont h2 a:hover {
  border-bottom: 3px solid #cc050c;
  border-width: 5px;
  transition: border-width 0.18s linear;
}

/*
  * ─── WORKFLOW PROJECT ───────────────────────────────────────────────────────────
  */

.workflow_project {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  /* outline: 1px solid red; */
  justify-content: space-between;
}

/*
  * ─── WORKFLOW PROJECT IMG ───────────────────────────────────────────────────────
  */

.workflow_project_img {
  display: flex;
}

/*this will be diplay block only on max width 480px*/

.workflow_project_img a {
  display: none;
}

.workflow_project_img img {
  max-width: 800px;
  width: 100%;
  height: 100%;
}

/*
  * ─── WORKFLOW PROJECT DESCRIPTION ───────────────────────────────────────────────
  */

.workflow_project_description {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  margin-left: 73px;
  font-family: "Montserrat", sans-serif;
}

.workflow_project_description_line {
  margin-top: 68px;
  border-bottom: 1px solid #e42836;
  width: 12px;
  height: 1px;
}

.workflow_project_description h6 {
  margin-top: 7px;
  color: rgb(109, 109, 109);
  font-size: 14px;
  font-weight: 400;
}

.workflow_project_description h3 {
  padding-top: 5px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
}

.workflow_project_description p {
  padding-top: 40px;
  padding-right: 20px;
  box-sizing: border-box;
  color: rgb(214, 214, 214);
  font-size: 12px;
  font-weight: 500;
  max-width: 400px;
  width: 100%;
}

.workflow_project_description a {
  display: inline-block;
  padding-top: 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-decoration-line: none;
}
