* {
  margin: 0;
  padding: 0;
}

/*
 * ─── BODY ───────────────────────────────────────────────────────────────────────
 */

body {
  background-color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  /* font-family: sans-serif; */
}

/*
    * ─── DODATNE CLASE ──────────────────────────────────────────────────────────────
    */

.is-invalid {
  outline: 1px solid white;
}

.invalid-feedback {
  position: absolute;
  padding-top: 7px;
  font-size: 11px;
  color: rgb(207, 5, 5);
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.active {
  border-bottom: 2px solid #cc050c;
  border-bottom-width: 5px;
}

/*
   * ─── APP ────────────────────────────────────────────────────────────────────────
   */

.App {
  display: inline-block;
  min-width: 100%;
  /* outline: 1px solid green; */
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1333px;
  /* max-width: 1333px; */
  height: auto;
  /* outline: 12px solid red; */
}

/* @media all and (max-width: 768px) {
    .container {
        display: flex;
        max-width: 768px;
        width: 100%;
        height: auto;
        outline: 1px solid red;
    }
}

@media all and (max-width: 480px) {
    .container {
        display: flex;
        max-width: 480px;
        width: 100%;
        height: auto;
        outline: 1px solid red;
    }
} */
