@media all and (max-width: 480px) {
    .nav_container ul {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .home h2 {
        display: none;
    }
}