@media all and (max-width: 600px) {
    .nav_container {
        outline: 1px solid red;
    }
    .nav_container ul {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
    }
}